<div class="container-fluid" style="padding-top: 15px;">
  <div class="row">
    <div class="form-group">
      <div class="col-xs-4">
        <input type="number" class="form-control" id="objectid" aria-describedby="objectid" placeholder="Object Id" [(ngModel)]="objectid">
      </div>
      <div class="col-xs-8">
        <button class="btn btn-primary" type="button" (click)="fetch()">Fetch</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p *ngIf="output$ | async as output">
        {{ output.value }}
      </p>
    </div>
  </div>
</div>
